header {
  width: 80%;
  margin: 0 auto;
  max-width: 1440px;

  .header__content {
    width: 100%;
    max-height: 585px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-text {
      color: #ffffff;
      max-width: 412px;

      h2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 84px;
        line-height: 102px;
        letter-spacing: -2px;
        margin: 0;
      }

      p {
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 34px;
      }
    }

    &-head-shot {
      align-self: flex-start;
      height: 690px;
      width: 585px;
      background-image: url('../images/head-shot.jpg');
    }
  }
}
