@media screen and (max-width: 320px) {
  header {
    margin: 0 auto;
    .header__content {
      flex-direction: column;
      align-items: center;

      &-text {
        max-width: 211px;
        text-align: center;

        h2 {
          font-size: 36px;
          text-align: center;
        }

        p {
          font-size: 12px;
          line-height: 18px;
        }
      }

      &-head-shot {
        height: 366px;
        width: 200px;
        align-self: center;
        background-image: url('../images/head-shot-S.png');
        background-position: center;
      }
    }
  }
}
