@media screen and (max-width: 768px) and (min-width: 321px) {
  header {
    .header__content {
      flex-direction: column;
      align-items: center;

      &-text {
        max-width: 574px;
        text-align: center;
        margin-bottom: 43px;

        h2 {
          text-align: center;
          font-size: 72px;
        }
      }

      &-head-shot {
        align-self: center;
        width: 512px;
        height: 617px;
        background-image: url('../images/head-shot-M.png');
      }
    }
  }
}
