@media screen and (max-width: 768px) and (min-width: 321px) {
  nav {
    float: none;
    min-width: 321px;
    width: 100%;
    height: 230px;
    align-items: flex-start;
    padding-top: 43px;

    h1 {
      align-self: flex-start;
      font-weight: bold;
    }

    .nav__links {
      width: 40%;
      padding-right: 30px;

      a {
        margin-right: 8px;
      }
    }
  }
}
